agent-1-lead-intake/n8n-workflows/webform-intake.json
{
  "name": "Web Form Lead Intake",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "web-lead",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "webhook-trigger",
      "name": "Web Form Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "web-lead-intake"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\n// Validation rules\nconst errors = [];\n\n// Required fields\nconst requiredFields = ['firstName', 'lastName', 'email', 'phone', 'postcode', \n                        'serviceType', 'propertyType', 'budgetBand', 'timeline', \n                        'conservationArea', 'marketingConsent'];\n\nfor (const field of requiredFields) {\n  if (!body[field] && body[field] !== false) {\n    errors.push(`${field} is required`);\n  }\n}\n\n// Email validation\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (body.email && !emailRegex.test(body.email)) {\n  errors.push('Invalid email format');\n}\n\n// UK phone validation (mobile)\nconst phoneRegex = /^(\\+44|0)7\\d{9}$/;\nconst cleanPhone = (body.phone || '').replace(/\\s/g, '');\nif (body.phone && !phoneRegex.test(cleanPhone)) {\n  errors.push('Invalid UK mobile phone number');\n}\n\n// UK postcode validation\nconst postcodeRegex = /^[A-Z]{1,2}\\d{1,2}[A-Z]?\\s?\\d[A-Z]{2}$/i;\nif (body.postcode && !postcodeRegex.test(body.postcode)) {\n  errors.push('Invalid UK postcode format');\n}\n\n// Marketing consent required\nif (body.marketingConsent !== true) {\n  errors.push('Marketing consent is required');\n}\n\nif (errors.length > 0) {\n  return [{\n    json: {\n      valid: false,\n      errors: errors\n    }\n  }];\n}\n\n// Normalise phone number to +44 format\nlet normalisedPhone = cleanPhone;\nif (normalisedPhone.startsWith('0')) {\n  normalisedPhone = '+44' + normalisedPhone.substring(1);\n} else if (!normalisedPhone.startsWith('+')) {\n  normalisedPhone = '+44' + normalisedPhone;\n}\n\n// Normalise postcode (uppercase, add space)\nlet normalisedPostcode = body.postcode.toUpperCase().replace(/\\s/g, '');\nif (normalisedPostcode.length > 3) {\n  normalisedPostcode = normalisedPostcode.slice(0, -3) + ' ' + normalisedPostcode.slice(-3);\n}\n\n// Extract postcode area\nconst postcodeArea = normalisedPostcode.split(' ')[0].replace(/\\d+$/, '') + \n                     normalisedPostcode.match(/\\d+/)?.[0];\n\nreturn [{\n  json: {\n    valid: true,\n    data: {\n      firstName: body.firstName.trim(),\n      lastName: body.lastName.trim(),\n      fullName: `${body.firstName.trim()} ${body.lastName.trim()}`,\n      email: body.email.toLowerCase().trim(),\n      phone: normalisedPhone,\n      postcode: normalisedPostcode,\n      postcodeArea: postcodeArea,\n      serviceType: body.serviceType,\n      propertyType: body.propertyType,\n      budgetBand: body.budgetBand,\n      timeline: body.timeline,\n      conservationArea: body.conservationArea,\n      message: (body.message || '').trim().substring(0, 1000),\n      marketingConsent: true,\n      source: body.source || 'website',\n      utmSource: body.utm_source || null,\n      utmMedium: body.utm_medium || null,\n      utmCampaign: body.utm_campaign || null,\n      submittedAt: body.submittedAt || new Date().toISOString(),\n      ipAddress: $input.first().json.headers?.['x-forwarded-for'] || 'unknown',\n      userAgent: $input.first().json.headers?.['user-agent'] || 'unknown'\n    }\n  }\n}];"
      },
      "id": "validate-form",
      "name": "Validate Form Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-valid",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"errors\": {{ JSON.stringify($json.errors) }} }",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-error",
      "name": "Respond Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 180]
    },
    {
      "parameters": {
        "jsCode": "// Web form lead scoring\nconst data = $input.first().json.data;\n\nlet score = 50; // Base score\n\n// Premium postcodes\nconst premiumPostcodes = ['NW3', 'NW11', 'N6'];\nconst servicePostcodes = ['NW3', 'NW6', 'NW11', 'NW2', 'NW8', 'N6', 'N2', 'N10'];\n\nconst postcodeArea = data.postcodeArea?.replace(/\\d/g, '') + \n                     data.postcodeArea?.match(/\\d+/)?.[0] || '';\n\n// Location score\nif (premiumPostcodes.includes(postcodeArea)) {\n  score += 25;\n} else if (servicePostcodes.includes(postcodeArea)) {\n  score += 15;\n} else {\n  score -= 20; // Outside service area\n}\n\n// Budget score\nconst budgetScores = {\n  'under-15k': 0,\n  '15k-40k': 10,\n  '40k-100k': 20,\n  '100k-250k': 30,\n  'over-250k': 35\n};\nscore += budgetScores[data.budgetBand] || 0;\n\n// Timeline score\nconst timelineScores = {\n  'asap': 20,\n  '1-3-months': 15,\n  '3-6-months': 8,\n  '6-12-months': 2,\n  'just-exploring': -5\n};\nscore += timelineScores[data.timeline] || 0;\n\n// Service type score\nconst serviceScores = {\n  'kitchen-extension': 15,\n  'loft-conversion': 15,\n  'full-renovation': 20,\n  'basement': 25,\n  'bathroom': 5,\n  'maintenance': -5,\n  'other': 0\n};\nscore += serviceScores[data.serviceType] || 0;\n\n// Conservation area bonus\nif (data.conservationArea === 'yes') {\n  score += 10;\n}\n\n// Message detail bonus\nif (data.message && data.message.length > 100) {\n  score += 5;\n}\n\n// Cap score\nscore = Math.max(0, Math.min(100, score));\n\n// Determine priority\nlet priority;\nif (score >= 85) priority = 'hot';\nelse if (score >= 65) priority = 'warm';\nelse if (score >= 40) priority = 'cool';\nelse priority = 'cold';\n\n// Check if in service area\nconst inServiceArea = servicePostcodes.includes(postcodeArea);\n\nreturn [{\n  json: {\n    ...data,\n    leadScore: score,\n    priority: priority,\n    inServiceArea: inServiceArea,\n    isPremiumArea: premiumPostcodes.includes(postcodeArea)\n  }\n}];"
      },
      "id": "calculate-score",
      "name": "Calculate Lead Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 420]
    },
    {
      "parameters": {
        "operation": "upsert",
        "objectType": "contacts",
        "idProperty": "email",
        "options": {
          "resolveData": true
        },
        "properties": [
          {
            "key": "email",
            "value": "={{ $json.email }}"
          },
          {
            "key": "firstname",
            "value": "={{ $json.firstName }}"
          },
          {
            "key": "lastname",
            "value": "={{ $json.lastName }}"
          },
          {
            "key": "phone",
            "value": "={{ $json.phone }}"
          },
          {
            "key": "hs_lead_status",
            "value": "NEW"
          }
        ],
        "customProperties": [
          {
            "key": "postcode",
            "value": "={{ $json.postcode }}"
          },
          {
            "key": "service_interest",
            "value": "={{ $json.serviceType }}"
          },
          {
            "key": "property_type",
            "value": "={{ $json.propertyType }}"
          },
          {
            "key": "budget_band",
            "value": "={{ $json.budgetBand }}"
          },
          {
            "key": "timeline",
            "value": "={{ $json.timeline }}"
          },
          {
            "key": "conservation_area",
            "value": "={{ $json.conservationArea }}"
          },
          {
            "key": "lead_score",
            "value": "={{ $json.leadScore }}"
          },
          {
            "key": "lead_source",
            "value": "website"
          }
        ]
      },
      "id": "create-hubspot-contact",
      "name": "Create HubSpot Contact",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [1120, 420],
      "credentials": {
        "hubspotApi": {
          "id": "hubspot",
          "name": "HubSpot"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "objectType": "deals",
        "properties": [
          {
            "key": "dealname",
            "value": "={{ $('Calculate Lead Score').first().json.serviceType.replace(/-/g, ' ').replace(/\\b\\w/g, c => c.toUpperCase()) }} - {{ $('Calculate Lead Score').first().json.postcodeArea }}"
          },
          {
            "key": "pipeline",
            "value": "default"
          },
          {
            "key": "dealstage",
            "value": "appointmentscheduled"
          },
          {
            "key": "amount",
            "value": "={{ {'under-15k': 10000, '15k-40k': 27500, '40k-100k': 70000, '100k-250k': 175000, 'over-250k': 350000}[$('Calculate Lead Score').first().json.budgetBand] || 50000 }}"
          }
        ],
        "customProperties": [
          {
            "key": "service_type",
            "value": "={{ $('Calculate Lead Score').first().json.serviceType }}"
          },
          {
            "key": "priority",
            "value": "={{ $('Calculate Lead Score').first().json.priority }}"
          }
        ],
        "options": {}
      },
      "id": "create-hubspot-deal",
      "name": "Create HubSpot Deal",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [1340, 420],
      "credentials": {
        "hubspotApi": {
          "id": "hubspot",
          "name": "HubSpot"
        }
      }
    },
    {
      "parameters": {
        "operation": "customApiCall",
        "path": "=/crm/v3/associations/deals/contacts/batch/create",
        "method": "POST",
        "body": "={\n  \"inputs\": [\n    {\n      \"from\": { \"id\": \"{{ $json.id }}\" },\n      \"to\": { \"id\": \"{{ $('Create HubSpot Contact').first().json.id }}\" },\n      \"type\": \"deal_to_contact\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "associate-contact-deal",
      "name": "Associate Contact to Deal",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [1560, 420],
      "credentials": {
        "hubspotApi": {
          "id": "hubspot",
          "name": "HubSpot"
        }
      }
    },
    {
      "parameters": {
        "channel": "#leads",
        "text": "=🌐 *New Website Lead*\n\n*Name:* {{ $('Calculate Lead Score').first().json.fullName }}\n*Email:* {{ $('Calculate Lead Score').first().json.email }}\n*Phone:* {{ $('Calculate Lead Score').first().json.phone }}\n*Service:* {{ $('Calculate Lead Score').first().json.serviceType.replace(/-/g, ' ') }}\n*Property:* {{ $('Calculate Lead Score').first().json.propertyType.replace(/-/g, ' ') }}\n*Location:* {{ $('Calculate Lead Score').first().json.postcode }}\n*Budget:* {{ $('Calculate Lead Score').first().json.budgetBand.replace(/-/g, ' to ').replace('under', 'Under £').replace('over', 'Over £').replace('k', 'k') }}\n*Timeline:* {{ $('Calculate Lead Score').first().json.timeline.replace(/-/g, ' ') }}\n*Conservation Area:* {{ $('Calculate Lead Score').first().json.conservationArea }}\n*Score:* {{ $('Calculate Lead Score').first().json.leadScore }}/100 ({{ $('Calculate Lead Score').first().json.priority.toUpperCase() }})\n{{ $('Calculate Lead Score').first().json.message ? '\\n📝 *Message:*\\n' + $('Calculate Lead Score').first().json.message.substring(0, 300) : '' }}\n\n<https://app.hubspot.com/contacts/{{ $env.HUBSPOT_PORTAL_ID }}/deal/{{ $('Create HubSpot Deal').first().json.id }}|View Deal in HubSpot>",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "notify-slack",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1780, 420],
      "credentials": {
        "slackApi": {
          "id": "slack",
          "name": "Slack"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-priority",
              "leftValue": "={{ $('Calculate Lead Score').first().json.priority }}",
              "rightValue": "hot",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "is-hot-warm",
      "name": "Is Hot Lead?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2000, 420]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "toRecipients": "={{ $('Calculate Lead Score').first().json.email }}",
        "subject": "Thanks for your enquiry - Hampstead Renovations",
        "bodyContent": "=<html>\n<body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333;\">\n<div style=\"max-width: 600px; margin: 0 auto; padding: 20px;\">\n\n<h2 style=\"color: #1a365d;\">Thank you for getting in touch, {{ $('Calculate Lead Score').first().json.firstName }}!</h2>\n\n<p>We've received your enquiry about a {{ $('Calculate Lead Score').first().json.serviceType.replace(/-/g, ' ') }} project in {{ $('Calculate Lead Score').first().json.postcodeArea }}.</p>\n\n<p>One of our team will be in touch within the next few hours to discuss your project and arrange a convenient time for a site visit.</p>\n\n<p>In the meantime, you might find these resources helpful:</p>\n<ul>\n<li><a href=\"https://hampsteadrenovations.co.uk/projects\" style=\"color: #2563eb;\">View our recent projects</a></li>\n<li><a href=\"https://hampsteadrenovations.co.uk/process\" style=\"color: #2563eb;\">How we work</a></li>\n<li><a href=\"https://hampsteadrenovations.co.uk/faq\" style=\"color: #2563eb;\">Frequently asked questions</a></li>\n</ul>\n\n<p>If you have any questions in the meantime, feel free to call us on <strong>020 7946 0958</strong> or reply to this email.</p>\n\n<p>Looking forward to speaking with you soon!</p>\n\n<p>Best regards,<br>\n<strong>Ross</strong><br>\nDirector, Hampstead Renovations</p>\n\n<hr style=\"border: none; border-top: 1px solid #e5e7eb; margin: 20px 0;\">\n\n<p style=\"font-size: 12px; color: #6b7280;\">\nHampstead Renovations Ltd | Unit 3, Palace Court, 250 Finchley Road, London NW3 6DN<br>\nCompany No: 12345678 | VAT: GB 123 4567 89<br>\n<a href=\"https://hampsteadrenovations.co.uk\" style=\"color: #6b7280;\">www.hampsteadrenovations.co.uk</a>\n</p>\n\n</div>\n</body>\n</html>",
        "additionalFields": {
          "fromEmail": "ross@hampsteadrenovations.co.uk"
        }
      },
      "id": "send-confirmation-email",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [2220, 300],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "microsoft365",
          "name": "Microsoft 365"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Thank you for your enquiry. We will be in touch shortly.\" }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2440, 420]
    }
  ],
  "connections": {
    "Web Form Webhook": {
      "main": [
        [
          {
            "node": "Validate Form Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Form Data": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Respond Validation Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Calculate Lead Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Lead Score": {
      "main": [
        [
          {
            "node": "Create HubSpot Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create HubSpot Contact": {
      "main": [
        [
          {
            "node": "Create HubSpot Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create HubSpot Deal": {
      "main": [
        [
          {
            "node": "Associate Contact to Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Associate Contact to Deal": {
      "main": [
        [
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Slack": {
      "main": [
        [
          {
            "node": "Is Hot Lead?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Hot Lead?": {
      "main": [
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Confirmation Email": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "error-handler"
  },
  "tags": [
    {
      "name": "agent-1",
      "id": "agent-1-lead-intake"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-12-04T10:00:00.000Z",
  "versionId": "1"
}
